body {
    margin: 0;
    width: 1280px;
    height: 720px;
    position: absolute;
}

img {
    position: fixed;
    z-index: 0;
    display: none;
}
    
#buda-orange {
    z-index: 1;
    position:fixed;
    top:40px;
    left:378px;
    width: 360px;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 315px solid #FB8627;
} 

#maska {
    z-index: 2;
    position:fixed;
    top:145px;
    left:900px;
    width: 350px;
    height: 140px;
    border-left: 350px solid #013502;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 70px solid transparent;
}

#prog {
    z-index: 2;
    position:fixed;
    top: 354px;
    left: 380px;
    width: 550px;
    height: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(113, 113, 113, 0.7);
}

#okno-przod{
    z-index: 4;
    position:fixed;
    top:70px;
    left:600px;
    width: 120px;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 115px solid rgb(40, 40, 40);
}

#okno-tyl{
    z-index: 4;
    position:fixed;
    top:70px;
    left:335px;
    width: 140px;
    height: 0;
    border-right: 0px solid transparent;
    border-left: 95px solid transparent;
    border-bottom: 115px solid rgb(40, 40, 40);
}

#vent1 {
    z-index: 3;
    position:fixed;
    top: 60px;
    left: 190px;
    border-bottom: 0px solid rgba(0, 0, 255, 0);
    border-top: 130px solid rgba(0, 0, 255, 0);
    border-left: 40px solid rgba(0, 0, 255, 0);
    border-right: 150px solid rgba(71, 71, 71, 1);
    width: 0px;
    height: 0px
}

#vent2 {
    z-index: 3;
    position:fixed;
    top: 60px;
    left: 378px;
    border-top: 0px solid rgba(0, 0, 255, 0);
    border-bottom: 50px solid rgba(0, 0, 255, 0);
    border-right: 40px solid rgba(0, 0, 255, 0);
    border-left: 40px solid rgba(71, 71, 71, 1);
    width: 0px;
    height: 0px
}

#drzwi-tyl{
    z-index: 3;
    position:fixed;
    top:60px;
    left:325px;
    width: 150px;
    border-right: 0px solid transparent;
    border-left: 95px solid transparent;
    border-bottom: 115px solid #FB8627;
}

#drzwi-tyl::after{
    content: "";
    position: fixed;
    top: 174px;
    left: 325px;
    width: 575px;
    height: 180px;
    background-color: #FB8627;
}

#szyba {
    z-index: 3;
    position:fixed;
    top: 10px;
    left: 810px;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 200px solid rgba(71, 71, 71, 1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: rotate(-58deg);
    width: 13px;
    height: 0px
}

.wheel {
    z-index: 5;
    position:fixed;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(150, 150, 150, 1) 0%, rgba(212, 212, 212, 1) 60%);
}

.spoke-gap {
    z-index: 6;
    position: absolute;
    top: 105px;
    left: 55px;
    width: 15px;
    height: 0px;
    border-top: 0px solid rgba(0, 0, 255, 0);
    border-right: 15px solid rgba(0, 0, 255, 0);
    border-left: 15px solid rgba(0, 0, 255, 0);
    border-bottom: 52px solid rgb(63, 63, 63);
    border-radius: 2px;

    transform-origin: 50% -27px;
}

.spoke-gap::after{
    content: "";
    display: block;
    z-index: 6;
    position: relative;
    width: 2px;
    height: 55px;
    left: 29px;
    top: -8px;
    transform: rotate(-25.7deg);
    background-color: rgb(66, 66, 66);
}

.tire {
    z-index: 7;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid black;
    top: -10px;
    left: -10px;
}

.bolt-hole{
    z-index: 7;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(21, 21, 21);
    left: 72.5px;
    top: 88.5px;
    transform-origin: 50% -10px;
}
#buda-blue {
    z-index: 2;
    position:fixed;
    top: 40px;
    left: 24px;
    border-bottom: 0px solid rgba(38, 51, 84, 0);
    border-top: 164px solid rgba(0, 0, 255, 0);
    border-left: 40px solid rgba(0, 0, 255, 0);
    border-right: 316px solid rgb(38, 51, 84);
    width: 0px;
    height: 100px
}
#bumper-tyl {
    z-index: 3;
    position:fixed;
    top: 270px;
    left: 0px;
    border-bottom: 66px solid rgba(0, 0, 255, 0);
    border-top: 0px solid rgba(0, 0, 255, 0);
    border-left: 40px solid rgba(0, 0, 255, 0);
    border-right: 300px solid rgba(113, 113, 113);
    width: 0px;
    height: 60px
}
#bumper-przod {
    z-index: 1;
    position:fixed;
    top: 290px;
    left: 1145px;
    border-bottom: 20px solid rgba(0, 0, 255, 0);
    border-top: 0px solid rgba(0, 0, 255, 0);
    border-left: 125px solid rgba(113, 113, 113);
    border-right: 0px solid rgba(147, 224, 33, 0);
    width: 0px;
    height: 65px
}
#wlew-paliwa {
    z-index: 3;
    position:fixed;
    top: 222px;
    left: 114px;
    background-color: #bc6319;
    border: 1px solid rgba(0, 0, 0);
    width: 45px;
    height: 35px;
}
#light-tyl-blinker {
    z-index: 3;
    position:fixed;
    top: 210px;
    left: 55px;
    border-bottom: 30px solid rgb(211, 224, 33);
    border-top: 5px solid rgba(147, 224, 33, 0);
    border-left: 0px solid rgba(147, 224, 33, 0);
    border-right: 9px solid rgb(211, 224, 33);
    width: 0px;
    height: 0px;
}
#light-tyl-stop {
    z-index: 2;
    position:fixed;
    top: 240px;
    left: 55px;
    border-bottom: 30px solid rgb(175, 0, 0);
    border-top: 0px solid rgba(147, 224, 33, 0);
    border-left: 0px solid rgba(147, 224, 33, 0);
    border-right: 9px solid rgb(175, 0, 0);
    width: 0px;
    height: 5px;
}
#pasek-top {
    z-index: 10;
    position:fixed;
    top: 213px;
    left: 66px;
    background-color: rgb(255, 255, 255);
    transform: rotate(0.8deg);
    width: 1000px;
    height: 11px;
}
#pasekk {
    z-index: 10;
    position:fixed;
    top: 230px;
    left: 161px;
    background-color: rgb(255, 255, 255);
    transform: rotate(0.8deg);
    width: 900px;
    height: 11px;
}
#pasek-bottom {
    z-index: 10;
    position:fixed;
    top: 246px;
    left: 161px;
    background-color: rgb(255, 255, 255);
    transform: rotate(0.8deg);
    width: 900px;
    height: 11px;
}
#pasekk-S {
    z-index: 10;
    position:fixed;
    top: 223px;
    left: 66px;
    background-color: rgb(255, 255, 255);
    transform: rotate(0.8deg);
    width: 47px;
    height: 11px;
}
#pasek-bottom-S {
    z-index: 10;
    position:fixed;
    top: 241px;
    left: 66px;
    background-color: rgb(255, 255, 255);
    transform: rotate(0.8deg);
    width: 47px;
    height: 11px;
}
#pasek-top-przod {
    z-index: 10;
    position:fixed;
    top: 235px;
    left: 1064px;
    background-color: rgb(255, 255, 255);
    transform: rotate(10deg);
    width: 183px;
    height: 11px;
}
#pasekk-przod {
    z-index: 10;
    position:fixed;
    top: 253px;
    left: 1058px;
    background-color: rgb(255, 255, 255);
    transform: rotate(10deg);
    width: 186px;
    height: 11px;
}
#pasek-bottom-przod {
    z-index: 9;
    position:fixed;
    top: 272px;
    left: 1058px;
    background-color: rgb(255, 255, 255);
    transform: rotate(10deg);
    width: 185px;
    height: 7px;
}
.klamka{
    position:fixed;
    z-index: 11;
    top: 215px;
}
.klamka-tlo {
    background-color: rgb(62, 62, 62);
    width: 40px;
    height: 15px;
}
.klamka-srodek {
    position: absolute; 
    background-color: rgb(32, 32, 32);
    width: 30px;
    height: 7px;
    top: 6px;
    left: 2px;
}
#lusterko {
    z-index: 5;
    position:fixed;
    top: 155px;
    left: 810px;
    border-radius: 3px;
    background-color: rgb(112, 112, 112);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 2px solid rgba(0, 0, 0);
    width: 35px;
    height: 35px;
}

#kierunek-przod {
    z-index: 4;
    position:fixed;
    top: 225px;
    left: 1247px;
    background-color: rgba(225, 255, 0, 0.636);
    border: 1px solid rgba(0, 0, 0);
    width: 10px;
    height: 20px;
    /* transform: rotate(8deg); */
}
#swiatlo-przod {
    z-index: 4;
    position:fixed;
    top: 246px;
    left: 1247px;
    background-color: rgba(255, 255, 255, 0.564);
    border: 1px solid rgba(0, 0, 0);
    width: 10px;
    height: 30px;
    /* transform: rotate(8deg); */
}
.nadkole {
    z-index: 4;
    position: fixed;
    top: 270px;
    left: 196px;
    width: 180px;
    height: 90px;
    background: rgb(78, 77, 77);
    border-top-left-radius: 90px 90px;
    border-top-right-radius: 90px 90px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid rgb(0, 0, 0);
}
.keska {
    position: fixed;
    width: 1px;
    height: 1px;
    background: #000000;
    z-index: 9;
    
}
.luk {
    position: fixed;
    width: 90px;      /* długość łuku */
    height: 90px;      /* wysokość łuku */
    border: 2px solid #222; /* kolor i grubość linii */
    border-bottom: none; 
    border-left: none;
    border-top: none;    /* usuwamy dolną krawędź */
    border-radius: 0 90px 0 0; /* zaokrąglenie tylko dolnych rogów */
    background: transparent;
    z-index: 11;
}
.plastik {
    position: fixed;
    width: 1px;
    height: 1px;
    background: rgb(78, 77, 77);
    border: 1px solid rgb(0, 0, 0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 9;
}