body {
    margin: 0;
    width: 1280px;
    height: 720px;
    position: absolute;
}

img {
    position: fixed;
    z-index: 0;
    display: none;
}
    
#buda-orange {
    z-index: 1;
    position:fixed;
    top:40px;
    left:380px;
    width: 360px;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 315px solid rgba(255, 166, 0, 0.473);
} 

#maska {
    z-index: 2;
    position:fixed;
    top:145px;
    left:900px;
    width: 350px;
    height: 160px;
    border-left: 350px solid rgba(12, 80, 38, 0.7);
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 50px solid transparent;
}

#prog {
    z-index: 2;
    position:fixed;
    top: 354px;
    left: 380px;
    width: 550px;
    height: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(113, 113, 113, 0.7);
}

#okno-przod{
    z-index: 4;
    position:fixed;
    top:70px;
    left:600px;
    width: 120px;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 115px solid rgba(0, 0, 0, 0.1);
}

#okno-tyl{
    z-index: 4;
    position:fixed;
    top:70px;
    left:325px;
    width: 140px;
    height: 0;
    border-right: 0px solid transparent;
    border-left: 95px solid transparent;
    border-bottom: 115px solid rgba(0, 0, 0, 1);
}

#vent1 {
    z-index: 3;
    position:fixed;
    top: 60px;
    left: 190px;
    border-bottom: 0px solid rgba(0, 0, 255, 0);
    border-top: 130px solid rgba(0, 0, 255, 0);
    border-left: 40px solid rgba(0, 0, 255, 0);
    border-right: 150px solid rgba(71, 71, 71, 0.711);
    width: 0px;
    height: 0px
}

#vent2 {
    z-index: 3;
    position:fixed;
    top: 60px;
    left: 380px;
    border-top: 0px solid rgba(0, 0, 255, 0);
    border-bottom: 50px solid rgba(0, 0, 255, 0);
    border-right: 40px solid rgba(0, 0, 255, 0);
    border-left: 40px solid rgba(71, 71, 71, 0.711);
    width: 0px;
    height: 0px
}

#drzwi-tyl{
    z-index: 3;
    position:fixed;
    top:60px;
    left:325px;
    width: 150px;
    border-right: 0px solid transparent;
    border-left: 95px solid transparent;
    border-bottom: 115px solid rgba(255, 166, 0, 0.473);
}

#drzwi-tyl::after{
    content: "";
    position: fixed;
    top: 174px;
    left: 325px;
    width: 575px;
    height: 180px;
    background-color: rgba(255, 166, 0, 0.473);
}

#szyba {
    z-index: 3;
    position:fixed;
    top: 10px;
    left: 810px;
    border-top: 0px solid rgba(0, 0, 255, 0);
    border-right: 0px solid rgba(0, 0, 255, 0);
    border-left: 10px solid rgba(0, 0, 255, 0);
    border-bottom: 200px solid rgba(0, 0, 0, 1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: rotate(-58deg);
    width: 13px;
    height: 0px
}

.wheel {
    z-index: 5;
    position:fixed;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(150, 150, 150, 1) 0%, rgba(212, 212, 212, 1) 60%);
}

.spoke-gap {
    z-index: 6;
    position: absolute;
    top: 105px;
    left: 55px;
    width: 15px;
    height: 0px;
    border-top: 0px solid rgba(0, 0, 255, 0);
    border-right: 15px solid rgba(0, 0, 255, 0);
    border-left: 15px solid rgba(0, 0, 255, 0);
    border-bottom: 52px solid rgb(63, 63, 63);
    border-radius: 2px;

    transform-origin: 50% -27px;
}

.spoke-gap::after{
    content: "";
    display: block;
    z-index: 6;
    position: relative;
    width: 2px;
    height: 55px;
    left: 29px;
    top: -8px;
    transform: rotate(-25.7deg);
    background-color: rgb(66, 66, 66);
}

.tire {
    z-index: 7;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid black;
    top: -10px;
    left: -10px;
}

.bolt-hole{
    z-index: 7;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(21, 21, 21);
    left: 72.5px;
    top: 88.5px;
    transform-origin: 50% -10px;
}